
.aboutUs{
  height: 97.1vh;
  width: 100vw;
  div:first-child{
    width: 50.42%;
    background-color: #F0F1F1;
  }
  .people{
    width: 49.56%;
      background: transparent url('../../assets/People.jpg') 0 0 no-repeat padding-box;
  }
}