.giveBackForm{
  height: 92vh;
  min-height: 600px;
  width: 100vw;
  position: relative;
  background-image: url("../../assets/Background-Form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .giveBackSteps{
    margin-left: 7.47vw;
    p{
      color: #3C3C3C;
      font-size: 18px;
      font-weight: 300;
      padding-top: 3.74vh;
      margin-bottom: 7.28vh;
    }
    h1{
      font-size: 35.5px;
      font-weight: 600;
    }
    >label{
      font-size: 16px;
    }
    select{
      width: 200px;
      height: 32.6px;
      font-size: 16px;
      padding: 5.3px 12px;
      border: 0.75px solid #3C3C3C;
      margin-top: 5vh;
      margin-left: 1.37vw;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;       /* Remove default arrow */
      background: transparent url(../../assets/Icon-Arrow-Up.svg);
      background-repeat: no-repeat;
      background-position: right;
    }
    form{
      .containerStepOne{
        margin: 4.68vh 0;
        display: block;
        font-size: 18px;
        line-height: 29px;
        cursor: pointer;
        position: relative;
        padding-left: 4.58vw;
        input{
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        }
      }
    }

  }
.checkmarkStepOne {
  position: absolute;
  top: 0;
  left: 0;
  height: 29px;
  width: 29px;
  border: 0.75px solid #3C3C3C;
}
.containerStepOne input:checked ~ .checkmarkStepOne {
  background-color: #FAD648;
}

.stepButtons {
  position: absolute;
  left: 7.47vw;
  bottom: 5vh;
  margin-right: 34px;
  margin-top: 10vh;
  font-size: 17.5px;
  border: 0.75px solid #3C3C3C;
  padding: 17px 43px;
  background-color: transparent;
}
.backwardButton{
  margin-left: 150px;
}

