
header{
  height: 963px;
  background-color: gold;
  width: 100%;
  .headerImg{
    background:transparent url('../../assets/Home-Hero-Image.jpg') -483px 0 no-repeat padding-box;
    width: 50.34%;
  }
}
