
.threeColumns{
  background-color: orange;
  height: 384px;
  justify-content: space-between;
  div {
    width: 19%;
    margin-left: 9.79%;
    margin-right: 9.79%;
    margin-top: 46px;
    margin-bottom: 86px;
    h1 {
      text-align: center;
      color: #5E5322;
      font-weight: 300;
      font-size: 90px;
      line-height: 122px;

    }
    h2 {
      color: #3C3C3C;
      font-size: 18px;
      text-align: center;
      margin-bottom: 28px;
      text-transform: uppercase;
    }
    p {
      color: #3C3C3C;
      font-size: 16px;
      font-family: $font-alt;
      font-weight: 300;
      text-align: center;
      width: 100%;
    }
  }
}