@import "./settings/_fonts.scss";
@import "./settings/_colors.scss";
@import "./settings/_reset.scss";
@import './elements/navigation.scss';
@import './elements/header.scss';
@import './elements/threeColumns.scss';
@import './elements/basicSteps.scss';
@import './elements/aboutUs.scss';
@import './elements/whoWeHelp.scss';
@import './elements/contact.scss';
@import './elements/login.scss';
@import './elements/logout.scss';
@import './elements/register.scss';
@import './elements/giveBackHeader';

*{
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}
.flex-box{
  display: flex;
}

